* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: 
                      "sidebar header header header"
                      "sidebar projects projects announcements"
                      "sidebar projects projects trending";
}

.header, .sidebar, .projects, 
.announcements, .trending {
  background-color: lightblue;
}

.header {
  grid-area: header;
}

.sidebar {
  background-color: #00b8ff;
  grid-area: sidebar;
  padding: 20px;
}

.container {
  height: 60%;
  display: grid;
  gap: 40px;
  grid-template-rows: 30px 2fr 1fr;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-size: 26px;
  font-weight: 700;
  align-self: start;
  max-height: 30px;
}

.logo img {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

.nav, .branding {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: white;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.link img {
  width: 20px;
  height: auto;
  margin-right: 20px;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
