* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: 
                      "sidebar header header header"
                      "sidebar projects projects announcements"
                      "sidebar projects projects trending";
}

.header, .sidebar, .projects, 
.announcements, .trending {
  background-color: lightblue;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
